.desno{
    text-align: right;
}

.sredina{
    text-align: center;
}

.gumb{
    width: 100%;
    margin-bottom: 10px;
}

.btn-success{
    background-color: black;
    outline-color: rgb(59, 117, 5);
    
}

